doctype html
html(lang="es")
head
	meta(charset="UTF-8")
	title Revista Prototipo Dos
	link(rel="stylesheet", href="icons/foundation-icons.css")
	link(rel="stylesheet", href="css/foundation.css")
	link(rel="stylesheet", href="css/styles.css")
body
	//- Header
	header
		//- Social
		section#social
			.row.small-up-1
				.column
					a(href="#")
						i.fi-social-faceboo3
				.column
					a(href="#")
						i.fi-social-twitter
				.column
					a(href="#")
						i.fi-social-instagram
				.column
					a(href="#")
						i.fi-social-youtube
				.column
					a(href="#")
						i.fi-social-flickr
			//- Logo
		section#logo
			article.row.align
	//- Main
	main#main
	//- Footer
	footer#footer


	
	